<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links static content for the page. Uses flask's url_for() to call on the 
    css file it will use-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Syntax that flask engine uses, signals where we will be inserting code
    on all the pages that inherit this template -->
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>